 @media screen and (min-width: 428px) {
 .container {
     max-width: 428px;
     /* padding-left: 16px;
     padding-right: 16px;
     margin-left: auto;
     margin-right: auto; */
 }
 .footer-input {
     width: 398px;
 }
   
 }
 @media screen and (min-width: 768px) {
     .container {
         max-width: 768px;
     }
         .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-p.jpg);
 }

 @media screen and (min-width: 1158px) {
     .container {
         max-width: 1158px;
         padding-left: 15px;
         padding-right: 15px;
     }
         .hero {
             background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
         }
 }